img {
    width: 100%;
    height: 50%;
    border-radius: 10%;
}

.splide__slide {
    user-select: text !important;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10%;
    height: 60vh;
}